---
---

body {
	height: 100vh;
}

.wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

header h1 {
  font-weight: 600;
}

.footer-spacer {
  min-height: 0rem;
  margin: 0 0 auto;
}

footer {
  background: linear-gradient(to bottom, #fff 50%, #F0F0F0 75%, #B0B0B0 100%);
}
