    <!-- Intro Header -->
    <header>
        <div class="header-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="title">{{ site.title }}</h1>
                        <h2 class="subtitle">Computational neuroscience research group at {{ site.affiliation }}</h1>
                        <p class="teaser">When an experience in our daily life gets stored as a memory, something must change in our brain&mdash;what is it?<br>
                        <a href="#intro" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
