<!-- Intro -->
<section class="intro-section text-left" id="intro">
  <div class="container">
    <div class="col-lg-10 mx-auto px-3 pt-3 pt-lg-5 pb-5">
      <h5>We study how neural circuits in the hippocampal region enable us to remember events along with where they occurred. To do so, we use a variety of theoretical techniques, including neural network simulations and mathematical analysis. We aim to uncover how these circuits are disrupted in neurological diseases such as dementia and epilepsy.</h5>
    </div>
    <img class="img-fluid" src="/media/bg-brain-top.svg" alt="" />
  </div>
</section>

