    <!-- About Section -->
    <section id="intro" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>We study how neural circuits in the hippocampal region enable us to remember events along with where they occurred. To do so, we use a variety of theoretical techniques, including neural network simulations and mathematical analysis. We aim to uncover how these circuits are disrupted in neurological diseases such as dementia and epilepsy.</p>
            </div>
        </div>
    </section>
