<!-- News -->
<section class="news-section py-6 py-lg-8" id="news">
  <div class="container">

    <div id="newsCarousel">
      {% for piece in site.data.news reversed %}
      
        <div class="carousel-cell">
          <h6 class="title">{{ piece.title }}</h6>
          <p class="date">{{ piece.date | date_to_string }}</p>
          <hr class="mt-2 mb-2 ml-0"/>
          <p class="text">{{ piece.text }}</p>
        </div>

      {% endfor %}
    </div>

    <div class="subpage-link pt-5 d-flex justify-content-center">
      <button class="btn btn-outline-primary d-flex align-items-center" href="/news-archive">News archive &nbsp; {{ site.icons.forward }}</button>
    </div>

  </div>
</section>
