<!-- News -->
<section class="news-section py-7 py-lg-9" id="news">
  <div class="container">

    <div id="newsCarousel">
      <div class="carousel-cell">
        <h6 class="title">Raymond Wang will be presenting at SfN Global Connectome</h6>
        <p class="date">8 Dec 2020</p>
        <hr class="mt-2 mb-2 ml-0"/>
        <p class="text">Raymond will be presenting his work &ldquo;Multiple bumps enhance robustness to noise in continuous attractor networks&rdquo; at the Society for Neuroscience Global Connectome. Visit him virtually at 11:00 am US Pacific Time on 11 January 2021.</p>
      </div>

      <div class="carousel-cell p-4">
        <h6 class="title">Raymond Wang joins as an undergraduate intern</h6>
        <p class="date">1 Nov 2020</p>
        <hr class="mt-2 mb-2 ml-0"/>
        <p class="text">Raymond, an undergraduate from University of California, Berkeley, joins the group as an intern. He is studying how noise in continuous attractor networks produce errors in path integration and methods of suppressing these errors. Welcome!</p>
      </div>

      <div class="carousel-cell">
        <h6 class="title">Topological data analysis preprint uploaded to bioRxiv</h6>
        <p class="date">8 Dec 2020</p>
        <hr class="mt-2 mb-2 ml-0"/>
        <p class="text">Louis has uploaded the preprint &ldquo;State space discovery in spatial representation circuits with persistent cohomology&rdquo; to the bioRxiv. This project explores and characterizes how topological data can be applied to neuroscience data. It is a collaboration with computational topologists Dmitriy Morozov and Boyan Xu at Lawrence Berkeley National Laboratory.</p>
      </div>

      <div class="carousel-cell">
        <h6 class="title">Neural Circuits and Computations Unit begins</h6>
        <p class="date">1 Aug 2020</p>
        <hr class="mt-2 mb-2 ml-0"/>
        <p class="text">Welcome to the Neural Circuits and Computations Unit! Louis is excited to start his own research group in computational neuroscience at RIKEN Center for Brain Science. More to come soon.</p>
      </div>
    </div>

  </div>
</section>
