<!-- Research Section -->
<section class="research-section bg-light" id="research">
  <div class="container">

    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="" /></div>
      <div class="col-xl-4 col-lg-5">
        <div class="research-text text-center text-lg-left">
          <h4>Memory hierarchy from complementary encoding pathways</h4>
          <p class="text-black-50 mb-0">When information enters the hippocampus, it is split into two pathways. Experiments suggest that they encode information with different amounts of sparsity and decorrelation. Yet, the computational capabilities granted by these two pathways are not clear.</p>
          <p class="text-black-50 mb-0">We demonstrate how complementary encoding pathways can enable the hippocampus to perform unsupervised categorization while maintaining its ability to recall individual examples. The circuit can alternate on-the-fly between these two operating modes, generalization and differentiation, by adjusting its level of inhibition. Thus, representing information at different resolutions, which is considered a key feature of memory, can be implemented by neural circuits in the hippocampus.</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="" /></div>
      <div class="col-xl-4 col-lg-5">
        <div class="research-text text-center text-lg-left">
          <h4>Topological data analysis for neuroscience</h4>
          <p class="text-black-50 mb-0">To operate effectively, the enormous number of neurons in brain circuits must coordinate their activity. Detecting signatures of coordination in large, complex sets of neural data may help us understand neural computation. One such signature is topological structure, such as loops and voids, formed by the data in high-dimensional phase space.</p>
          <p class="text-black-50 mb-0">Persistent cohomology is a powerful technique for discovering topological structure in data. Strategies for its use in neuroscience are still undergoing development. We explore the application of persistent cohomology to the brain’s spatial representation system. Our results suggest guidelines for applying persistent cohomology to experimental neural recordings.</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="" /></div>
      <div class="col-xl-4 col-lg-5">
        <div class="research-text text-center text-lg-left">
          <h4>Grid cell organization and phenomena</h4>
          <p class="text-black-50 mb-0">The entorhinal cortex (EC) contains grid cells, each of which only fires when we approach certain locations that form a triangular lattice in space. There is experimental evidence that the grid cell network can be modeled as a continuous attractor, in which neural activity evolves through a set of attractor states that represent different positions in the 2D environment.</p>
          <p class="text-black-50 mb-0">However, existing attractor models did not capture several key phenomena exhibited by the grid system. Grid cells belong to modules, which suggests that spatial information is discretized in memories, and grid cells can fire in rapid sequences that may be related to memory consolidation or planning. Through simulations, we demonstrated how these phenomena arise in continuous attractors with the addition of experimentally observed or biologically plausible features of EC. Our results suggest mechanisms through which the hippocampal region performs memory-related computations.</p>
        </div>
      </div>
    </div>

  </div>
</section>
