<!-- Team -->
<section class="team-section bg-light pt-6 pb-4 py-lg-7" id="team">
  <div class="container">
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">

      <div class="person row col-lg-8">
        <div class="col-8 col-md-4 mb-2">
          <img class="img-fluid" src="/media/team-louis.jpg" alt="" />
        </div>
        <div class="col-12 col-md-8 text-left">
          <h5 class="name">Louis Kang</h4>
          <h6 class="role">Unit Leader</h5>
          <hr class="mt-1 mb-2 ml-0"/>
          <p class="text text-dark">My research goal is uncovering how hippocampal circuits produce memory and how they are disrupted in neurological diseases. My unique background in both theoretical physics and clinical medicine enables me to employ innovative yet rigorous approaches towards tackling this crucial problem. Now I'm trying to find opportunities to play piano and beach volleyball in Tokyo.</p>
          <div class='d-flex'>
            <button class="btn btn-copy btn-outline-primary d-flex align-items-center" data-clipboard-text="louis.kang@riken.jp">
              <i class="material-icons">content_copy</i>louis.kang@riken.jp</button>
            <a class="btn btn-outline-primary d-flex align-items-center" href="/docs/Louis_Kang_CV.pdf"><i class="material-icons">save_alt</i> CV</a>
          </div>
        </div>
      </div>

      <div class="person row col-lg-8">
        <div class="col-8 col-md-4 mb-2">
          <img class="img-fluid" src="/media/team-raymond.jpg" alt="" />
        </div>
        <div class="col-12 col-md-8 text-left">
          <h5 class="name">Raymond Wang</h4>
          <h6 class="role">Undergraduate Intern</h5>
          <hr class="mt-1 mb-2 ml-0" />
          <p class="text text-dark">I'm a third year undergraduate student at UC Berkeley. At the Redwood Center for Theoretical Neuroscience at UC Berkeley, I pursue research at the intersection of neuroscience, computer science and mathematics. My interests include understanding memory through a biological and computational perspective.</p>
          <div class='d-flex'>
            <button class="btn btn-copy btn-outline-primary d-flex align-items-center" data-clipboard-text="raymondwang@berkeley.edu"><i class="material-icons">content_copy</i> raymondwang@berkeley.edu</button>
            <a class="btn btn-outline-primary d-flex align-items-center" href="/docs/Louis_Kang_CV.pdf"><i class="material-icons">save_alt</i> CV</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
