<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Kang Group</title>

    <meta name="description" content="We are a computational neuroscience research group that studies how memories are stored by neural circuits in our brains.">
    <meta name="author" content="Louis Kang">

    <link rel="canonical" href="https://louiskang.group/">
    <link rel="icon" type="image/png" href="/media/brain-32.png"  sizes="32x32">
    <link rel="icon" type="image/png" href="/media/brain-128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="/media/brain-256.png" sizes="256x256">

    <!-- Custom CSS & Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.pruned.min.css">
    <link rel="stylesheet" href="/assets/flickity/flickity.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/mum1wxq.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body id="page-top">

    {% include nav.html %}
    {% include header.html %}
    {% include intro.html %}
    {% include team.html %}
    {% include research.html %}
    {% include news.html %}
    {% include links.html %}

    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/jquery.easing.min.js"></script>
    <script src="/js/bootstrap.bundle.pruned.min.js"></script>
    <script src="/assets/flickity/flickity.pkgd.min.js"></script>
    <script src="/assets/clipboard.min.js"></script>
    <script src="/assets/grayscale.js"></script>
    <script src="/js/custom.js"></script>

  </body>

</html>
