<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="Louis Kang" />

    <title>{{ site.short-title }}</title>

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
    <link rel="icon" type="image/png" href="/img/brain-32.png"  sizes="32x32">
    <link rel="icon" type="image/png" href="/img/brain-128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="/img/brain-256.png" sizes="256x256">

    <!-- Custom CSS & Bootstrap Core CSS -->
    <link rel="stylesheet" href="/assets/bootstrap-4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/flickity/flickity.css">
    <link rel="stylesheet" href="/css/spacing.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/mum1wxq.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body id="page-top">
    {% include nav.html %}
    {% include header.html %}
    {% include intro.html %}
    {% include team.html %}
    {% include research.html %}
    {% include news.html %}
    {% include links.html %}

    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/jquery.easing.min.js"></script>
    <script src="/assets/bootstrap-4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/flickity/flickity.pkgd.min.js"></script>
    <script src="/assets/clipboard.min.js"></script>
    <script src="/assets/grayscale.js"></script>
    <script src="/js/custom.js"></script>

  </body>

</html>
